.wrapper {
  background: var(--color-background);
  padding: 0px 0px 60px;
}

.cardContainer {
  background-color: var(--color-secondary);
  border-radius: 40px;
  box-shadow: 3px 2px 10px rgba(160, 158, 158, 0.733);
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.breakLine {
  display: none;
}

.cardTitle {
  font-weight: 600;
  font-size: 35px;
  color: var(--color-primary);
  line-height: 1.2;
}

.cardSubTitle {
  color: #000;
  font-size: 30px;
  font-weight: 400 !important;
  line-height: 1.3;
}

.cardImageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  cursor: pointer;
}

.cardImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.featuredImageTag {
  height: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

/* .cardImage:hover {
  filter: drop-shadow(0px 0px 5px #00b26b) !important;
  cursor: pointer;
} */

.buttonContainer {
  display: flex;
  column-gap: 30px;
}

.featuredButton {
  background: var(--color-primary);
  color: #fff !important;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  display: inline-block;
}

@media (max-width: 1200px) {
  .breakLine {
    display: block;
  }
}

@media (max-width: 991px) {
  .adjustMargin {
    margin-top: 60px;
  }
  .featuredText {
    text-align: center;
  }
  .cardImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardImage {
    width: 350px;
  }
  .cardSubTitle {
    font-size: 25px;
    text-align: center;
  }

  .cardTitle {
    font-size: 30px;
    text-align: center;
  }
  .cardContainer a {
    font-size: 14px;
  }
  .buttonContainer {
    justify-content: center;
  }
  .breakLine {
    display: none;
  }
}

@media (max-width: 767px) {
  .cardSubTitle {
    font-size: 23px;
    line-height: 1.6;
    text-align: left;
  }

  .cardTitle {
    font-size: 27px;
    text-align: left;
  }

  .cardContainer a {
    font-size: 12px;
  }

  .buttonContainer {
    justify-content: start;
  }
}

@media (max-width: 580px) {
  .buttonContainer {
    column-gap: 15px;
  }

  /* .cardContainer a {
    font-size: 10px;
  } */
}

/* .featuredText .container {
  background: var(--color-secondary);
  background: linear-gradient(
    84deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(40, 40, 40, 1) 500%
  );
  border-radius: 40px;
  box-shadow: 0px 30px 0px 0px #00B26B;
  position: relative;
  overflow: hidden;
}

.featuredText .container:before {
  position: absolute;
  content: "";
  background: var(--color-secondary);
  background: linear-gradient(
    84deg,
    rgb(245 245 245 / 0%) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  border-radius: 40px;
  width: 100%;
  height: 110%;
  left: 0;
  top: 0;
  opacity: 0.1;
} */
