.pricing {
  padding: 0px 0 60px;
}

.priceIcon {
  width: 130px;
  height: auto;
  display: block;
  object-fit: contain;
}

.title {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 22px;
}

.price {
  color: var(--color-text);
  font-size: 18px;
}

@media (max-width: 992px) {
  .priceIcon {
    width: 80px;
  }
  .title {
    font-size: 20px;
  }
  .price {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 17px;
  }
  .price {
    font-size: 15px;
  }
}
