.whatsappIcon {
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 24px;
    background-color: #02B053;
    border-radius: 50px;
    box-shadow: 0px 2px 14px 0px #02B053;
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 200;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .whatsappIcon img{
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
  }
  .whatsappIcon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .show {
    opacity: 1;
  }