.wrapper {
  background-color: var(--color-primary);
  /* padding: 0px 0 60px; */
}
.container {
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px
}
.buttonContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.introDescription {
  font-size: 16px;
  color: var(--color-secondary);
  line-height: 1.8;
  text-align: center;
  white-space: pre-line; /* for next line via css (\n) */
}
.para {
  font-size: 16px;
  color: var(--color-secondary);
  line-height: 1.8;
  text-align: center;
  margin-bottom: 20px;
}

.introDescription a {
  color: var(--color-link);
  cursor: pointer;
}

.button {
  /* margin-top: 20px; */
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid var(--color-primary);
  width: fit-content;
  font-weight: 600;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  border: 2px solid var(--color-secondary);
}

@media (max-width: 1200px) {
  .breakLine {
    display: none;
  }
  .introDescription {
    white-space: normal; /* for remove next line via css */
  }
}

@media (max-width: 992px) {
  .introDescription {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media (max-width: 576px) {
  .introDescription {
    font-size: 15px;
  }
  .para {
    font-size: 15px;
  }
}

.secondaryHeading {
  font-size: 32px;
  color: var(--color-secondary);
  text-align: center;
  font-weight: 500;
  padding-bottom: 35px;
  margin-bottom: 0;
  white-space: pre-line;
  line-height: 1.3;
}

@media (max-width: 992px) {
  .secondaryHeading {
    font-size: 28px;
    white-space: normal;
  }
}

@media (max-width: 576px) {
  .secondaryHeading {
    font-size: 25px;
  }
}