.buttonContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.introDescription {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.8;
  text-align: center;
  white-space: pre-line; /* for next line via css (\n) */
}

.introDescription a {
  color: var(--color-link);
  cursor: pointer;
}

.button {
  /* margin-top: 20px; */
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  width: fit-content;
  font-weight: 600;
}

.button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 3px 4px var(--color-shadow);
}

@media (max-width: 1200px) {
  .breakLine {
    display: none;
  }
  .introDescription {
    white-space: normal; /* for remove next line via css */
  }
}

@media (max-width: 992px) {
  .introDescription {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media (max-width: 576px) {
  .introDescription {
    font-size: 15px;
  }
}
