.wrapper {
  background-color: #fff;
  padding: 30px 0 30px;
}

.appSection {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.applicaitonContainer {
  display: flex;
}

.featuredText {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 20px;
}
.featuredText .highlight {
  color: #00b26b;
  font-weight: 600;
}

.mediaTitle {
  font-size: 28px;
}

.downloadImage {
  height: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 991px) {
  .appSection {
    column-gap: 20px;
  }
  .mediaTitle {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .breakLine {
    display: none;
  }
  .mediaTitle {
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  .appSection {
    column-gap: 0px;
  }
  .featuredText {
    column-gap: 0px;
  }
  .mediaTitle {
    font-size: 18px;
  }
  .breakLine {
    display: none;
  }
}
