.cardContainer {
  background-color: var(--color-background);
  padding: 16px 14px;
  border-radius: 14px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: 0.3s;
  border: 2px solid var(--color-primary);
  min-height: 120px;
  height: 100%;
}

.cardContainer:hover {
  transform: translate(0, -10px);
  transition: 0.3s;
}

.valueIcon {
  max-width: 55px;
  width: 55px;
}
.valueIcon img {
  width: 55px;
  height: 55px;
}

.valueText {
  width: calc(100% - 55px);
  padding-left: 15px;
  flex-grow: 1;
}

.cardTitle {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.cardContent {
  margin-bottom: 0;
  color: var(--color-text);
  font-size: 15px;
}

/* @media (min-width: 992px) and (max-width: 1200px) {
  .cardContainer {
    min-height: 150px;
  }
} */

@media (max-width: 576px) {
  .cardContainer {
    padding: 10px;
  }
  .cardTitle {
    font-size: 15px;
  }
  .cardContent {
    font-size: 15px;
  }
}
