.features {
  padding: 0px 0 60px;
}

.featureTitle {
  font-size: 28px;
  color: var(--color-primary);
  padding-bottom: 20px;
}

.featureDescription {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.6;
  padding-bottom: 10px;
}

.featureListHeading {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1;
  padding-bottom: 6px;
}

.featureList {
  list-style-type: disc;
  padding-bottom: 8px;
}

.featureList li {
  list-style-position: inside;
  padding-bottom: 3px;
}

.featureListDesc {
  font-size: 16px;
  color: var(--color-text);
}

.featureImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
  border-radius: 22px;
}

@media (max-width: 992px) {
  .featureTitle {
    font-size: 24px;
  }

  .featureDescription {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .featureTitle {
    font-size: 22px;
    padding-bottom: 15px;
  }
  
  .featureDescription {
    font-size: 15px;
  }
}
