/* header */
.header {
  position: fixed;
  left: 0;
  top: 25;
  right: 0;
  transition: all 0.5s;
  box-sizing: border-box;
  z-index: 999;
}

.headerScrolled {
  background: var(--color-background);
  padding: 40px 0;
  height: 58px;
  transition: all 0.5s;
  top: -25px;
}

.wrapper {
  position: relative;
  padding: 20px 35px;
  background: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  box-shadow: 3px 2px 10px var(--color-shadow-dark);
  /* padding: 20px 0px; change when guest login button is visible
  justify-content: space-around; change when guest login button is visible */
}

.navbarWrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.navbarLinks {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  list-style-type: none;
}

.navBarPosition {
  position: relative;
}

.navbarLinks a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 15px;
  outline: none;
}

.navbarLinks li:hover > a {
  color: var(--color-primary);
}

.downloadApp {
  position: relative;
  background: var(--color-primary);
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.downloadApp a {
  text-decoration: none;
  color: var(--color-secondary);
}

/* Hover menu's option */
.invisibleContainerOptions {
  display: none;
}
.invisibleContainer {
  display: none;
}

.navBarPosition:hover .invisibleContainerOptions {
  display: block;
}
.navBarPosition:hover .invisibleContainer {
  display: block;
}

.invisibleContainerOptions {
  position: absolute;
  top: 90%;
  left: 450%;
  transform: translateX(-50%);
  width: 60vw;
  max-width: 650px;
  opacity: 1;
  z-index: 99;
}

.invisibleContainer {
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 1000px;
  opacity: 1;
  z-index: 99;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-secondary);
  border-radius: 14px;
  align-items: end;
  border: 2px solid var(--color-primary);
  margin-top: 70px;
  max-width: 1150px;
}

.navOptionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-secondary);
  border-radius: 14px;
  align-items: end;
  border: 2px solid var(--color-primary);
  margin-top: 70px;
}

.displayHamburger {
  /* Display Hamburger icon */
  display: none;
  color: var(--color-secondary) !important;
  background-color: var(--color-primary);
  padding: 2px 7px;
  border-radius: 5px;
}

.productIcons {
  box-sizing: border-box;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.productIcons:nth-child(2) {
  padding: 10px 20px;
}

.productIcons p {
  margin: 0;
  line-height: 14px;
  font-size: 10px;
  color: var(--color-text);
}

.icon {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 100%;
}

.navBR {
  display: none;
}

.hoverContainer {
  /* Download App Popup CSS */
  position: absolute;
  width: 400px;
  height: 130px;
  top: 100%;
  transform: translateX(-66%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  pointer-events: none;
}

.downloadApp:hover .hoverContainer {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hoverPopup {
  margin-top: 12px;
  background: linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-background)
  );
  border: 2px solid var(--color-primary);
  padding: 15px;
  box-shadow: 0 8px 16px var(--color-shadow);
  border-radius: 15px;
  width: 400px;
  text-align: center;
  opacity: 1;
  z-index: 100;
  display: flex;
  column-gap: 20px;
  cursor: default;
  visibility: visible;
  transition: all 0.3s ease;
}

.qrCode img {
  width: 140px;
  height: 90px;
}

.hoverLinks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: start;
  align-items: baseline;
  text-align: start;
}

.hoverText {
  font-size: 14px;
  color: var(--color-text);
  font-weight: 400;
}

.hoverImageSection {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.navMenuMobile {
  /* Drawer CSS */
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 80px;
}

.navMenuMobile a {
  color: var(--color-text);
  font-size: 13px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
}

.navMenuMobile li:hover > a {
  color: var(--color-primary);
}
.downloadAppButton {
  margin-top: 5px;
  margin-left: 10px;
  background: var(--color-primary);
  color: var(--color-secondary);
  font-size: 13px;
  outline: none;
  padding: 7px 8px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.mobileHr {
  margin: 0;
  color: #9e969677;
}

.dropdownItem {
  list-style: none;
}

.dropdownToggle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 13px;
  color: var(--color-text);
  overflow: hidden;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  outline: none;
  font-weight: 700;
}

.subMenu a {
  padding-left: 25px;
}

.arrow {
  font-size: 12px;
}

@media (max-width: 1440px) {
  .invisibleContainer {
    left: 70%;
  }
}

@media (min-width: 1420px) {
  .invisibleContainer {
    left: 90%;
  }
}

@media (max-width: 1200px) {
  /* .wrapper {
    justify-content: space-around;
  } */
  .invisibleContainerOptions {
    left: 550%;
  }
  .invisibleContainer {
    left: 90%;
    width: 90vw;
    max-width: 800px;
  }
  .navBR {
    display: block;
  }
}

@media (max-width: 1024px) {
  .invisibleContainer {
    left: 130%;
  }
}

@media (max-width: 992px) {
  .productIcons p {
    font-size: 9px;
  }
  .navBar,
  .navOptionsBar {
    display: none;
  }
}

@media (max-width: 991px) {
  .displayHamburger {
    display: block;
    color: var(--color-text);
    cursor: pointer;
  }
  .displayClose {
    display: block;
    cursor: pointer;
    z-index: 999;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding: 2px 7px;
    border-radius: 5px;
  }
  .wrapper {
    padding: 20px 50px;
    justify-content: space-between;
  }
  .navbarLinks,
  .downloadApp,
  .guestLogin {
    display: none;
  }
  .navMenuActive {
    background: var(--color-background);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

/* PlusX Option nav Bar */

/* .guestLogin a {
  padding: 10px 14px;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-primary);
}

.guestLogin a:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

@media (max-width: 1080px) {
  .invisibleContainer {
    left: 175%;
  }
}

@media (max-width: 1024px) {
  .invisibleContainer {
    left: 160%;
  }
}

Navigation Bar Css on hover

@media (max-width: 1440px) {
  .invisibleContainer {
    left: 70%;
    width: 80vw;
    max-width: 890px;
  }
}

@media (max-width: 1420px) {
  .invisibleContainer {
    left: 165%;
    max-width: 850px;
  }
} */
