.offer {
  padding: 0px 0 60px;
  position: relative;
  background-color: #f6f5f5;
}

.offer .container {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.offer .offerCol {
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.offer .offerCol:hover {
  transform: translate(0, -10px);
  transition: 0.3s;
}

.offer .offerCol .img {
  position: relative;
}

.offer .offerCol .img img {
  border-radius: 4px 4px 0 0;
}

.offer .offerCol .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #00B26B;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc(50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

.offer .offerCol i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

.offer .offerCol:hover .icon {
  background-color: #fff;
}

.offer .offerCol:hover i {
  color: #00B26B;
}

.offer .offerCol h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

.offer .offerCol h2 a {
  color: #000;
}

.offer .offerCol h2 a:hover {
  color: #00B26B;
}

.offer .offerCol p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

.offerImageTag {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 768px) {
  .mbtMob25 {
    margin-bottom: 25px;
  }
}
