.figureWrapper {
  background: url(../../../assets/images/pickup-dropoff-page/desktop-banner.webp) center no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 60px;
}

.container {
  padding: 16rem 0;
}

.figureContent {
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-left: 20px;
}

.primaryText {
  color: var(--color-text);
  font-size: 40px;
  padding-left: 20px;
}

.secondaryText {
  font-size: 43px;
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
  padding: 5px 20px;
  border-radius: 12px;
  display: inline-block;
  width: fit-content;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 14px 20px;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 2;
  box-shadow: 0 4px 20px var(--color-shadow-dark);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #f9f9f9;
  color: var(--color-primary);
  box-shadow: 0 -4px 20px var(--color-shadow-dark);
}

@media (max-width: 767px) {
  .figureWrapper {
    background: url(../../../assets/images/pickup-dropoff-page/mobile-banner.webp) center no-repeat;
    background-size: cover;
  }
  .container {
    padding: 180px 0;
  }
  .primaryText {
    font-size: 35px;
  }

  .secondaryText {
    font-size: 38px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 200px 0;
  }

  .primaryText {
    font-size: 30px;
  }

  .secondaryText {
    font-size: 30px;
    padding: 8px 10px;
  }
  .button {
    padding: 8px 10px;
    font-size: 15px;
  }
}

@media (max-width: 410px) {
  .primaryText {
    font-size: 25px;
  }

  .secondaryText {
    font-size: 25px;
  }
}
