.sustainability {
  background: var(--color-background);
  padding: 0px 15px 60px;
}

.backgroundContainer {
  background: url(../../../assets/images/homepage/sustainability.webp) center no-repeat;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.backgroundContainer:before {
  position: absolute;
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(50deg,rgb(245 245 245 / 0%) 0%,rgba(0, 0, 0, 0.452) 80%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.9;
  z-index: 1;
}

.sustainabilityWrapper {
  padding: 0 10%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tagline {
  color: var(--color-secondary);
  font-size: 35px;
  font-weight: 600;
  line-height: 1.3;
}

.sustainabilityButton {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  display: inline-block;
  width: fit-content;
}

.breakLine {
  display: none;
}

@media (max-width: 1024px) {
  .sustainabilityButton {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .tagline {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .sustainability {
    padding: 0px 15px 60px;
  }
  .backgroundContainer {
    padding: 20px 0px 400px 0px;
  }
  .backgroundContainer:before {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1) 0%,rgba(245, 245, 245, 0) 100%
    );
  }
  .sustainabilityWrapper {
    padding: 50px 45px;
  }
  .tagline {
    font-size: 25px;
  }
  .cardButton {
    font-size: 12px;
  }
  .breakLine {
    display: block;
  }
}

@media (max-width: 576px) {
  .tagline {
    font-size: 25px;
  }
}
