.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-shadow-dark);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow: auto;
}

.modalContent {
  background: var(--color-background);
  padding: 20px;
  border-radius: 14px;
  width: 950px;
  max-width: 95%;
  box-shadow: 0 2px 10px var(--color-shadow-dark);
  position: absolute;
  top: 7rem;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.modalHeading {
  font-size: 24px;
  color: var(--color-primary);
}

.closeButton {
  color: var(--color-text);
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.assignButton {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  padding: 8px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 2px 10px var(--color-shadow);
}

.closeModalButton {
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding: 8px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 2px 10px var(--color-shadow);
}

/* .inputField {
  background-color: #242424;
  border: none;
  border-radius: 6px;
  color: var(--color-secondary);
  font-size: 16px;
  outline: none;
  padding: 16px 10px;
  width: 100%;
} */

/* @media (max-width: 992px) {
  .modalContent {
    max-width: 80%;
    width: 80%;
  }
}

@media (max-width: 767px) {
  .modalContent {
    max-width: 90%;
    width: 100%;
  }
} */
