.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow: auto;
}

.modalContent {
  background: #f6f5f5;
  padding: 20px;
  border-radius: 14px;
  width: 60%;
  max-width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 1, 0.8);
  position: absolute;
  top: 7rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modalHeading {
  font-size: 24px;
  font-weight: 600;
  color: #00b26b;
  margin-bottom: 10px !important;
}

.closeButton {
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.assignButton {
  background-color: #00b26b;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.closeModalButton {
  background-color: #f6f5f5;
  border: 2px solid #00b26b;
  color: #00b26b;
  padding: 8px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* .inputField {
  background-color: #242424;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 16px 10px;
  width: 100%;
} */

@media (max-width: 992px) {
  .modalContent {
    max-width: 80%;
    width: 80%;
  }
}

@media (max-width: 767px) {
  .modalContent {
    max-width: 90%;
    width: 100%;
  }
}
