.offer {
  padding: 0px 0 60px;
  background-color: var(--color-background);
}

.offerImageContainer {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, radius 0.3s ease-in-out;
}

.offerImageContainer:hover {
  transform: translateY(-10px);
}

.offerImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
}