.appSection {
  padding: 60px 0px 60px;
  background: var(--color-primary);
  margin-top: 40px;
  margin-bottom: 90px;
  position: relative;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infoTitle {
  color: var(--color-secondary);
  font-size: 30px;
  font-weight: 600;
}

.infoDescription {
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.6;
}

.infoLinks {
  display: flex;
  gap: 20px;
}

.listContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.listPoints {
  color: var(--color-secondary);
  font-size: 19px;
  line-height: 1.6;
  margin: 0px;
}

.list img {
  width: 80px;
  height: 80px;
}

.listmage{
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.appImageWrapper {
  position: absolute;
  top: -45px;
}

.appImage {
  width: 410px;
  height: auto;
  display: block;
  border-radius: 12px;
  isolation: isolate;
}

@media (max-width: 1200px) {
  .appSection {
    margin-bottom: 80px;
  }
  .appImageWrapper {
    top: -40px;
  }
}

@media (max-width: 992px) {
  .appSection {
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 20px 0px 20px;
  }

  .infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infoTitle {
    font-size: 27px;
  }

  .infoDescription {
    line-height: 1.3;
  }

  .appImageWrapper {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .appImage {
    max-width: 320px;
  }
}

@media (max-width: 767px) {
  .infoWrapper {
    margin-top: 40px;
    align-items: center;
    text-align: center;
  }
  .listContent {
    flex-direction: row;
  }
  .list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
  }
  .listPoints {
    font-size: 15px;
  }
  .list img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .listPoints {
    font-size: 12px;
  }
  .list img {
    width: 50px;
    height: 50px;
  }
}


/* @media (max-width: 1440px) {
  .appSection {
    margin-bottom: 160px;
  }
  .appImageWrapper {
    position: absolute;
    left: 10%;
  }
}

@media (max-width: 1220px) {
  .appSection {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .appImageWrapper {
    position: absolute;
    top: -100px;
    left: 10%;
  }
  .appImageWrapper img {
    max-width: 270px;
  }
}

@media (max-width: 1024px) {
  .appSection {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .appImageWrapper {
    position: absolute;
    top: -65px;
    left: 10%;
  }

  .appImageWrapper img {
    max-width: 250px;
  }
}

@media (max-width: 992px) {
  .appSection {
    padding: 60px 0;
    background: var(--color-primary);
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
  }
  .appImageWrapper img {
    max-width: 250px;
  }
  .appImageWrapper {
    position: absolute;
    top: -70px;
    left: 8%;
  }
  .infoContainer h2 {
    font-size: 27px;
  }
  .infoContainer p {
    font-size: 17px;
    line-height: 1.3;
  }
}

@media (max-width: 767px) {
  .appSection {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .appImageWrapper {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infoContainer {
    margin-top: 40px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .appImageWrapper img {
    max-width: 250px;
  }
} */
