.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--color-shadow);
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title {
  display: block;
  padding: 10px 15px 20px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-primary);
  flex: 1;
}

.viewAllWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.viewAllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 10px 20px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.viewAllBtn:hover {
  opacity: 0.85;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
