.partnershipSection {
  padding: 0px 0px 60px;
  background-color: var(--color-background);
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.parthersCardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.parthersCardContainer {
  background-color: var(--color-secondary);
  padding: 22px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  min-height: 140px;
  width: 100%;
}

.parthersCardWrapper:hover {
  box-shadow: 0 3px 8px 0 var(--color-shadow);
  transform: translate(0, -10px);
  transition: 0.3s;
  border-radius: 20px;
}

.brandTitle {
  text-align: center;
  color: #00b26b;
  margin-bottom: 1.5rem;
  font-size: 32px;
  font-weight: 500;
}

.parthersLogo {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parthersLogo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.description {
  text-align: center;
}

/* @media (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
} */

@media (max-width: 992px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .description {
    font-size: 15px;
  }
  .breakLine {
    display: none;
  }
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .parthersCardContainer {
    min-height: 150px;
  }
}
