[data-aos] {
  opacity: 0;
  transform: translateZ(0);
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  will-change: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
  transform: none;
  transition: all 2000ms ease-out;
  will-change: opacity, transform;
}

/* fade-up */
[data-aos="fade-up"] {
  transform: translateY(30px);
  will-change: opacity, transform;
}
[data-aos="fade-up"].aos-animate {
  transform: translateY(0);
}

/* fade-down */
[data-aos="fade-down"] {
  transform: translateY(-30px);
}
[data-aos="fade-down"].aos-animate {
  transform: translateY(0);
}

/* fade-left */
[data-aos="fade-left"] {
  transform: translateX(30px);
}
[data-aos="fade-left"].aos-animate {
  transform: translateX(0);
}

/* fade-right */
[data-aos="fade-right"] {
  transform: translateX(-30px);
}
[data-aos="fade-right"].aos-animate {
  transform: translateX(0);
}

/* zoom-in */
[data-aos="zoom-in"] {
  transform: scale(0.85);
}
[data-aos="zoom-in"].aos-animate {
  transform: scale(1);
}

/* zoom-out */
[data-aos="zoom-out"] {
  transform: scale(1.15);
}
[data-aos="zoom-out"].aos-animate {
  transform: scale(1);
}
