/* Backdrop */
.drawer-backdrop {
  position: fixed;
  inset: 0;
  background: var(--color-shadow-dark);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.drawer-backdrop.show {
  opacity: 1;
  pointer-events: all;
}

/* Drawer */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background: var(--color-secondary);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  will-change: transform;
  box-shadow: 2px 0 10px var(--color-shadow);
}

.drawer.open {
  transform: translateX(0);
}
