.css-zzbxbe-control {
  box-shadow: none !important;
}

.css-1nhg0x6-control {
  box-shadow: none !important;
}

/* 
.css-t3ipsp-control {
  padding: 8px !important;
  height: 0px !important;
  background-color: #f6f5f5 !important;
  border-color: none !important;
  border-radius: 10px !important;

  //commented below property
  outline: 0 !important;
  outline: none !important;
}

.css-13cymwt-control {
  min-height: 0px !important;
  background-color: #f6f5f5 !important;
  border: 2px solid #00b26b !important;
  padding: 8px !important;
  border-radius: 10px !important;
  box-sizing: border-box !important;

  //commented below property
  border-color: none !important;
  outline: none !important;
  border-width: 0px !important;
}
//commented below class
.css-13cymwt-control:hover {
  border-color: none !important;
}

.css-1nmdiq5-menu {
  background-color: #f6f5f5 !important;
  border: 2px solid #00b26b !important;
  color: #000 !important;
  border-radius: 10px !important;
  box-shadow: unset !important;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
  box-sizing: border-box !important;
  z-index: 999 !important;
  overflow: hidden !important;
}
.css-10wo9uf-option:active {
  background-color: #f6f5f5 !important;
}
.css-1jqq78o-placeholder {
  color: #867e7e !important;
}
#react-select-3-input,
#react-select-5-input,
#react-select-7-input {
  color: #000 !important;
}
.css-d7l1ni-option {
  background-color: #f6f5f5 !important;
}
.css-19bb58m {
  color: #000 !important;
  visibility: visible !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  display: inline-grid !important;
  grid-area: 1 / 1 / 2 / 3 !important;
  grid-template-columns: 0 min-content !important;
  margin: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  caret-color: transparent !important;
}
.css-hlgwow {
  padding: 0px !important;
}
.css-t3ipsp-control {
  min-height: 54px !important;
  padding: 8px !important;
  color: #000 !important;
  border-color: none !important;
  box-shadow: unset !important;
  background-color: #f6f5f5 !important;
  border: 2px solid #00b26b !important;

  //commented below property
  outline: none !important;
  border-radius: 10px !important;
  border-width: 0px !important;
}
.css-t3ipsp-control:hover {
  background-color: #f6f5f5 !important;
  border: 2px solid #00b26b !important;
}
.css-1dimb5e-singleValue {
  color: #000 !important;
}
.css-tr4s17-option {
  background-color: #00b26b !important;
  color: #fff !important;
  border-radius: 10px !important;
} */



/* Phone Input */
/* .react-international-phone-input-container {
  display: flex !important;
  gap: 30px !important;
  height: auto !important;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  padding: 27px 30px !important;
  border-radius: 10px !important;
  background-color: #212121 !important;
  border: 1px solid #212121 !important;
}

.react-international-phone-input-container .react-international-phone-input {
  padding: 27px 20px !important;
  border-radius: 10px !important;
  background-color: #212121;
  color: #fff !important;
  width: 100% !important;
  border: 1px solid #212121 !important;
  font-size: 1rem !important;
}

.react-international-phone-country-selector-dropdown {
  margin-top: 10px !important;
  background: #212121 !important;
  color: #fff !important;
  border: 1px solid #212121 !important;
}

.react-international-phone-country-selector-dropdown__list-item:hover {
  background-color: #212121 !important;
  cursor: pointer !important;
  color: #fff !important;
} */
