/* SweetALert Popup CSS */
.swal2-confirm {
  background-color: var(--color-primary) !important;
  border: none;
  color: var(--color-secondary);
}
.sweetalert-text {
  font-size: 1.125em;
  padding: 0px 40px !important;
  line-height: 25px;
  margin-bottom: 0px !important;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
  border: 2px solid var(--color-primary) !important;
  border-radius: 14px !important;
}
div:where(.swal2-icon).swal2-success [class^="swal2-success-circular-line"] {
  background-color: var(--color-background) !important;
}
div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border: 0.25em solid var(--color-primary) !important;
}
div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
  background-color: var(--color-primary) !important;
}