.headingProduct h2 {
  font-size: 32px;
  color: #00B26B;
  font-weight: 500 !important;
  position: relative;
  padding-bottom: 15px !important;
  margin-bottom: 0px !important;
}

@media (max-width: 992px) {
  .headingProduct h2 {
    font-size: 28px !important;
  }
}

@media (max-width: 576px) {
  .headingProduct h2 {
    font-size: 25px !important;
  }
}

/* .headingProduct h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.headingProduct h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #00B26B;
  bottom: 0;
  left: calc(50% - 20px);
} */
