.mainHeading, .secondaryHeading {
  font-size: 32px;
  color: var(--color-primary);
  text-align: center;
  font-weight: 500;
  padding-bottom: 35px;
  margin-bottom: 0;
  white-space: pre-line;
  line-height: 1.3;
}

@media (max-width: 992px) {
  .mainHeading, .secondaryHeading {
    font-size: 28px;
    white-space: normal;
  }
}

@media (max-width: 576px) {
  .mainHeading, .secondaryHeading {
    font-size: 25px;
  }
}

/* .heading h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.heading h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--color-primary);
  bottom: 0;
  left: calc(50% - 20px);
} */
