.introProduct {
  padding: 0px 0px 60px;
}

.introProduct .container {
  overflow: hidden;
}

.introProduct p {
  font-size: 16px;
  color: #000;
  line-height: 1.8;
  margin-bottom: 0px;
}

.buttonConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.buttonConatiner a {
  background-color: #00b26b;
  color: #fff;
  padding: 10px 20px;
  /* margin-top: 20px; */
}

.buttonConatiner a:hover {
  background-color: #00b26b;
  color: #fff;
}

.buttonConatiner a:active {
  background-color: #00b26b !important;
  color: #fff !important;
}

/* second heading */
.heading h2 {
  font-size: 28px;
  color: #00b26b;
  /* text-transform: uppercase; */
  text-align: center;
  font-weight: 500 !important;
  position: relative;
  padding-bottom: 35px !important;
  margin-bottom: 0 !important;
}

@media (max-width: 1200px) {
  .breakLine {
    display: none;
  }
}

@media (max-width: 992px) {
  .introProduct p {
    font-size: 16px;
    line-height: 1.6;
  }

  .heading h2 {
    font-size: 25px !important;
  }
}

@media (max-width: 576px) {
  .introProduct p {
    font-size: 15px;
  }

  .heading h2 {
    font-size: 23px !important;
  }
}
