.main {
  margin-top: 150px;
}

.blogHeading {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: calc(1.3rem + .4vw);
}

.heading {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: calc(1.15rem + 0.4vw - 1px);
  line-height: 1.2;
}

.content {
  line-height: 1.5;
  font-size: 14.5px;
  text-align: left;
  color: var(--color-text);
}

.heading a {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--color-link);
  cursor: pointer;
}

.content a {
  color: var(--color-link);
  cursor: pointer;
}

.listWrapper {
  list-style-type: disc;
  padding-left: 25px;
}

.lists {
  font-size: 14.5px;
  color: var(--color-text);
  line-height: 1.5;
  margin-bottom: 8px;
}

.lists a {
  color: var(--color-link);
  cursor: pointer;
}

.nestedWrapper {
  list-style-type: circle;
  padding-left: 35px;
  margin-top: 10px;
}

.nestedList {
  font-size: 14.5px;
  color: var(--color-text);
  line-height: 1.5;
  margin-bottom: 8px;
}

.nestedList a {
  color: var(--color-link);
  cursor: pointer;
}

.tableWrapper {
  overflow-x: auto;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14.5px;
}

.th, .td {
  border: 2px solid var(--color-text);
  padding: 12px;
  text-align: left;
  vertical-align: top;
}

.th {
  font-weight: 600;
}

.ctaButton {
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

.marginBottom_10 {
  margin-bottom: 10px;
}

.marginBottom_20 {
  margin-bottom: 20px;
}

.blogFaq P {
  font-size: 15px ;
}
