.main {
  margin-top: 150px;
}

.heading {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: calc(1.1rem + 0.4vw);
  font-weight: 500;
  line-height: 1.2;
}

.content {
  line-height: 1.5;
  font-size: 14.5px;
  text-align: left;
  color: var(--color-text);
}

.content a {
  color: var(--color-link);
  cursor: pointer;
}

.listWrapper {
  list-style-type: disc;
  padding-left: 25px;
}

.lists {
  font-size: 14.5px;
  color: var(--color-text);
  line-height: 1.5;
  margin-bottom: 8px;
}

.ctaButton {
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

.marginBottom_10 {
  margin-bottom: 10px;
}

.marginBottom_20 {
  margin-bottom: 20px;
}

/*
.subHeading {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 30px;
  font-size: calc(1.3rem + 0.6vw - 4px);
}

.newTextContents {
  line-height: 1.5;
  margin-top: 0;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #212529;
  text-align: left;
  color: var(--color-text);
}

.belowDescTextContents {
  line-height: 1.5;
  margin: 30 0 10px 0;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #212529;
  text-align: left;
  color: var(--color-text);
}

.stepsHeading {
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 30px;
  font-size: calc(1.3rem + 0.6vw - 6px);
  text-align: left;
  color: var(--color-primary);
}

.stepsDesc {
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
  margin: 20px 0px;
}

.secondStepBottomDesc {
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
  padding-left: 10px;
  margin-top: 10px;
}

.secondStepList {
  margin-left: 17px;
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
  margin-top: 5px;
}

.fourthStepList {
  margin-left: 25px;
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
}

.stepListli {
  margin-bottom: 5px;
}

.avoidStepLi {
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 600;
}

.desc {
  line-height: 1.5;
  text-align: left;
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
}

.secondSecDesc {
  line-height: 1.5;
  text-align: left;
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.thirdStepUlHeading {
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
  padding-left: 10px;
}

.thirdStepsDesc {
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
  padding-left: 25px;
}

.note {
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: left;
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
}

.noteSpan {
  font-weight: 500;
}

.serviceHeading {
  text-align: left;
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 0.9rem;
  margin-top: 20px;
} */

/* @media (max-width: 767px) {
  .textContents {
    margin-top: 24px;
  }
}

@media (min-width: 1200px) {
  .stepsHeading {
    font-size: 22px;
  }

  .subHeading {
    font-size: 24px;
  }
}

.anchorTag {
  text-decoration: underline;
} */
