@import "tailwindcss";

:root {
  --color-background  : #f5f6f6;
  --color-foreground  : #000000;
  --color-primary     : #00b26b;
  --color-secondary   : #ffffff;
  --color-text        : #000000;
  --color-shadow      : rgba(0, 0, 0, 0.1);
  --color-shadow-dark : rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

.wrapper {
  padding: 0px 0px 60px;
}

.figure {
  margin-top: 150px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

/* Loader Page CSS */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  box-shadow: 3px 2px 10px rgba(160, 158, 158, 0.733);
}

.spinner {
  width: 60px;
  height: 60px;
  border: 4px solid #a19191;
  border-top-color: #00B26B;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Not Found Page CSS */
.not-found-container {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-primary);
  font-weight: 400;
  height: 100dvh;
}

.status-code {
  font-size: 26px;
}

.seperator {
  font-size: 30px;
}

.not-found-message {
  font-size: 18px;
}

/* @media (max-width: 1200px) {
  .container {
      max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
      max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
      max-width: 540px;
  }
} */

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
