@import "tailwindcss";

:root {
  --color-background  : #f5f6f6;
  --color-foreground  : #000000;
  --color-primary     : #00b26b;
  --color-secondary   : #ffffff;
  --color-text        : #000000;
  --color-shadow      : rgba(0, 0, 0, 0.1);
  --color-shadow-dark : rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
