@import "tailwindcss";

:root {
  --background: #f5f6f6;
  --foreground: #000000;
  --primary: #00b26b;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
