.chargeShareBanner {
  background: url(../../../assets/images/ev-charger-installation-page/banner.webp) center no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 60px;
}

.container {
  padding: 16rem 0;
}

.shareBannerContent {
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 20px;
}

.sharePrimaryText {
  color: var(--color-text);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
}

.shareSecondaryText {
  font-size: 43px;
  padding-bottom: 70px;
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
  padding: 12px 20px;
  border-radius: 12px;
  display: inline-block;
  width: fit-content;
}

.outlinerText {
  display: inline-block;
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 600;
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  padding: 10px 0;
  width: fit-content;
}

.secondaryText {
  color: var(--color-text);
  font-weight: 600;
}

.chargerButton {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 10px 15px;
  box-shadow: 0 4px 20px var(--color-shadow-dark);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.chargerButton:hover {
  background-color: #f9f9f9;
  color: var(--color-primary);
  box-shadow: 0 -4px 20px var(--color-shadow-dark);
}

@media (max-width: 767px) {
  .chargeShareBanner {
    background: url(../../../assets/images/ev-charger-installation-page/mobile-banner.webp) center no-repeat;
    background-size: cover;
  }
  .container {
    padding: 180px 0;
  }
  .sharePrimaryText {
    font-size: 35px;
  }

  .shareSecondaryText {
    font-size: 38px;
  }
  /* .outlinerText {
    font-size: 14px;
  } */
  .outlinerText {
    padding-left: 0px;
    font-size: 14px;
  }
  .secondaryText {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 200px 0;
  }

  .sharePrimaryText {
    font-size: 30px;
  }

  .shareSecondaryText {
    font-size: 30px;
    padding: 8px 10px;
  }
  .chargerButton {
    padding: 8px 10px;
    font-size: 15px;
  }
  .outlinerText {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .breakLine {
    display: none;
  }
}

@media (max-width: 410px) {
  .sharePrimaryText {
    font-size: 25px;
  }

  .shareSecondaryText {
    font-size: 25px;
  }
}
