.card {
  border: 2px solid var(--color-primary);
  border-radius: 25px;
  padding: 20px 25px;
  /* transition: all 0.3s ease; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.card:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 4px 12px var(--color-shadow-dark);
  border: 2px solid var(--color-secondary);
  /* transform: scale(1.008); */
}

.image {
  width: 100%;
  height: 260px;
  object-fit: contain;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-primary);
  margin: 0;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.oldPrice {
  text-decoration: line-through;
  color: #333;
  font-size: 14px;
  margin-right: 5px;
}

.newPrice {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 16px;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 8px;
  text-decoration: none;
  background-color: var(--color-primary);
}

.button:hover {
  background: #01a563;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .oldPrice {
    font-size: 12px;
  }

  .newPrice {
    font-size: 14px;
  }

  .button {
    padding: 6px 8px;
    font-size: 11px;
  }
}
