.card {
  border: 2px solid #00b26b;
  border-radius: 25px;
  padding: 20px 25px;
  /* transition: all 0.3s ease; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.card:hover {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #fff;
  /* transform: scale(1.008); */
}

.image {
  width: 100%;
  height: 260px;
  object-fit: contain;
}

.title {
  font-size: 22px;
  font-weight: 600 !important;
  color: #00b26b;
  margin: 0 !important;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.oldPrice {
  text-decoration: line-through;
  color: #333;
  font-size: 14px;
  margin-right: 5px;
}

.newPrice {
  color: #00b26b;
  font-weight: 700;
  font-size: 16px;
}

.button {
  /* display: inline-block; */
  padding: 5px 10px;
  font-size: 14px;
  background: #00b26b;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  background-color: #00b26b;
}

.button:hover {
  background: #01a563;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .oldPrice {
    font-size: 12px;
  }

  .newPrice {
    font-size: 14px;
  }

  .button {
    padding: 6px 8px;
    font-size: 11px;
  }
}
