.wrapper {
  background-color: var(--color-background);
  padding: 0px 0 60px;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0px 15px 60px;
  }
}

@media (max-width: 590px) {
  .wrapper {
    padding: 0px 0px 50px;
  }
}
