.wrapper {
  background: var(--color-background);
  padding: 0px 0px 60px;
}

.container {
  background-color: var(--color-secondary);
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 2px 10px rgba(160, 158, 158, 0.733);
}

.contentWrapper {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardTitle {
  font-weight: 600;
  font-size: 35px;
  color: var(--color-primary);
  line-height: 1.2;
}

.cardSubTitle {
  color: var(--color-text);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.54;
}

.buttonContainer {
  display: flex;
  column-gap: 30px;
}

.cardButton {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  display: inline-block;
}

.cardImageWrapper {
  padding-top: 10px;
  width: 100%;
  cursor: pointer;
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding-top: 15px;
  }
  .contentWrapper {
    text-align: center;
    padding: 15px;
  }
  .cardImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardImage {
    width: 350px;
  }

  .cardTitle {
    font-size: 30px;
  }

  .cardSubTitle {
    font-size: 25px;
  }

  .cardButton {
    font-size: 14px;
  }

  .buttonContainer {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0px 15px 60px;
  }
  .contentWrapper {
    text-align: left;
  }

  .cardSubTitle {
    font-size: 23px;
    line-height: 1.54;
  }

  .cardTitle {
    font-size: 27px;
  }

  .cardButton {
    font-size: 12px;
  }

  .buttonContainer {
    justify-content: start;
  }
}

@media (max-width: 580px) {
  .buttonContainer {
    column-gap: 15px;
  }
}

@media (max-width: 430px) {
  .breakLine {
    display: none;
  }
}
