.footer {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.footerTop {
  padding: 60px 0;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerInfo img {
  max-width: 150px;
}

.appLinks {
  display: flex;
}

.appLinks img {
  max-width: 90px;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footerLinks ul a {
  color: var(--color-text);
  font-size: 16px;
  text-decoration: none;
}

.footerLinks ul a:hover {
  color: var(--color-primary);
}

.socialLinks {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
}

.socialLinks a {
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  line-height: 1;
  border-radius: 6px;
  text-align: center;
  width: 34px;
  height: 34px;
}

.socialLinks a:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-primary);
}

@media (max-width: 992px) {
  .footerInfo,
  .footerLinks {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .footerLinks ul a {
    font-size: 15px;
  }
}