.header {
  margin-top: 25px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  box-sizing: border-box;
  z-index: 999;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  padding: 0;
  margin: 0;
  width: 110px;
}

.headerButtonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  font-size: 25px;
  background: var(--color-primary);
  padding: 6px 12px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-secondary);
  border: none;
}

.button:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.headerButtonContainer img {
  width: 55px;
  height: 55px;
}

.downloadAppLink {
  background: var(--color-primary);
  padding: 8px 12px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-secondary);
  border: none;
}
.downloadAppLink:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}

@media (max-width: 991px) {
  .headerWrap {
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .header img {
    width: 100px;
  }

  .headerButtonContainer img {
    width: 45px;
    height: 45px;
  }

  .button {
    font-size: 20px;
    padding: 7px 12px;
  }

  .downloadAppLink {
    padding: 8px 8px;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .headerButtonContainer img {
    width: 35px;
    height: 35px;
  }

  .button {
    font-size: 18px;
    padding: 5px 12px;
  }

  .downloadAppLink {
    padding: 5px 8px;
    font-size: 12px;
  }
}
