.contactDetails {
  padding: 40px 0 60px;
}

.contactDetails p {
  font-size: 18px;
  color: var(--color-text);
  line-height: 1.8;
  text-align: center;
}
.contactIcon {
  background-color: var(--color-background);
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  border: 2px solid var(--color-primary);
}

.contactIcon img {
  width: 30px;
  min-width: 25px;
}
.contactText h4 {
  color: var(--color-primary);
  font-size: 22px;
  margin-bottom: 5px;
}

.contactText p {
  font-size: 14px;
  color: var(--color-text);
  line-height: 1.5;
  text-align: left;
  margin: 0;
}

@media (max-width: 992px) {
  .contactText h4 {
    font-size: 20px;
  }
  .contactText p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .contactIcon {
    padding: 18px;
  }
  .mapIcon {
    width: 30px;
  }
}
@media (max-width: 480px) {
  .mapIcon {
    width: 40px;
  }
}
