.main {
  margin-top: 140px;
  padding: 0px 0 60px;
  border: 2px solid red;
}

.productSection {
  padding: 20px 0;
}

.container {
  border-radius: 20px;
  border: 2px solid rgb(0, 255, 42);
}

.productImage {
  background: #fff;
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* padding: 30px; */
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage img{
  max-width: 85% !important;
  object-fit: cover;
}

.thumbnailRow {
  display: flex;
  gap: 23px;
  justify-content: start;
  margin-top: 20px;
  /* max-height: 8rem; */
}

.thumb {
  flex: 1;
  width: 60px;
  /* width: 96px;
  max-width: 100%;
  height: 90px; */
  border-radius: 10px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.productText {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin-top: 10px;
}

.productTitle {
  font-size: 32px;
  font-weight: 700 !important;
  color: #00b26b;
  margin-bottom: 0px !important;
}

.price {
  font-size: 20px;
  margin: 0;
}

.oldPrice {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.newPrice {
  color: #00b26b;
  font-weight: 700;
}

.description {
  font-size: 16px;
  color: #555;
  margin: 0;
}

.features {
  display: flex;
  gap: 20px;
}

.featureCard {
  flex: 1;
  border: 2px solid #00b26b;
  border-radius: 20px;
  padding: 15px 10px;
  color: #555;
  min-height: 150px;
  position: relative;
}

.featureCard h6 {
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

.featureCard p {
  font-size: 12px !important;
  margin-bottom: 0px !important;
}

.featureCard img {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 15px;
  right: 15px;
}

.buyBtn {
  background: #00b26b;
  color: #fff;
  border: none;
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.buyBtn:hover {
  background: #01965a;
}

@media (max-width: 992px) {
  .productTitle {
    font-size: 28px;
    margin-top: 20px !important;
  }
}

@media (max-width: 576px) {
  .productTitle {
    font-size: 25px;
  }
  .oldPrice {
    font-size: 15px;
  }
  .newPrice {
    font-size: 16px;
  }
  .description {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .features {
    gap: 8px;
  }
  .featureCard {
    padding: 13px 8px;
  }
  .featureCard h6 {
    font-size: 14px;
  }
}






.formInner {
  width: 100%;
}

.formControl {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 19px;
  font-size: 1rem;
  line-height: 1.4;
  color: #000;
  background-color: #f6f5f5;
  border: 2px solid #00b26b;
  border-radius: 10px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); */
}

.formControl:focus {
  color: #000;
  background-color: #f6f5f5;
  border-color: #00b26b;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.addressInput {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 19px;
  font-size: 1rem;
  line-height: 1.4;
  color: #000;
  background-color: #f6f5f5;
  border: 2px solid #00b26b;
  border-radius: 10px;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); */
}

.addressInput:focus {
  color: #000;
  background-color: #f6f5f5;
  border-color: #00b26b;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}

.radioButtonContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1rem;
  color: #000;
  height: 100%;
}

.checkboxInput input {
  width: 0;
  height: 0;
  opacity: 0;
  display: flex;
  align-items: center;
}

.checkboxInput label {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  gap: 10px;
}

.checkBox > span {
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.3s;
  border: 2px solid #00b26b;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
}

.checkboxInput input:checked + label > span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #00b26b;
  border-radius: 50%;
}

.formGroup {
  margin-bottom: 2rem;
}

input::placeholder,
textarea::placeholder {
  color: #867e7e !important;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes checked-box {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate(0, 0) rotate(45deg);
  }

  33% {
    width: 4px;
    height: 0;
    border-color: #212121;
    transform: translate(0, 0) rotate(45deg);
  }

  100% {
    width: 4px;
    height: 8px;
    border-color: #212121;
    transform: translate(0, -8px) rotate(45deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}
@media (max-width: 991px) {
  .checkBox > span {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .checkboxInput label {
    font-size: 16px;
    min-width: 35vw;
  }
  .radioButtonContainer {
    gap: 0px;
  }
} 
@media (max-width: 767px) {
  .formArea {
    padding: 0;
  }
}

@media (max-width: 580px) {
  .breaKline {
    display: block;
  }
}

@media (max-width: 480px) {
  .radioButtonContainer {
    gap: 6px;
  }
 .checkBox > span {
    margin-right: 0px;
  }
}

@media (max-width: 380px) {
  .radioButtonContainer {
    gap: 20px;
    font-size: 0.9rem;
  }
  .checkboxInput label {
    font-size: 0.9rem !important;
  }
}
