.contactBanner {
  background: url(../../../assets/images/contact-us-page/contact-banner.webp) top no-repeat;
  background-size: cover;
  position: relative;
  height: 42rem;
}

.contactBanner:before {
  position: absolute;
  content: "";
  background: var(--color-secondary);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  color: var(--color-primary);
  font-size: 45px;
  font-weight: 700;
  position: relative;
}

.changingText {
  color: var(--color-text);
  font-size: 45px;
  font-weight: 700;
  font-weight: bold;
  display: inline-block;
  animation: flip 3s infinite;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  50% {
    opacity: 1;
    transform: rotateX(0deg);
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

@media (max-width: 992px) {
  .heroTitle {
    font-size: 35px;
  }
  .changingText {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .heroTitle {
    font-size: 30px;
  }
  .changingText {
    font-size: 30px;
  }
}
