.bannerImage {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../../../assets/images/homepage/desktop-banner.webp) center no-repeat;
  background-size: cover;
}

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
  position: relative;
  margin-bottom: 60px;
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 3%, rgba(0, 0, 0, 0.6), #001 95%);
  z-index: 5;
}

.bannerContent {
  position: absolute;
  bottom: 40px;
  /* left: 50%;
  right: 40%;
  transform: translate(-50%, -50%); */
  color: var(--color-secondary);
  text-align: center;
  z-index: 10;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.primaryText {
  background-color: var(--color-secondary);
  font-size: 28px;
  font-weight: 600 !important;
  padding: 8px 20px !important;
  color: var(--color-primary);
  border-radius: 12px;
  display: inline-block;
  margin: 0 !important;
}

.secondaryText {
  background-color: var(--color-primary);
  font-size: 38px;
  padding: 8px 20px !important;
  color: var(--color-secondary);
  border-radius: 12px;
  display: inline-block;
  margin: 0 !important;
}

.downloadButton {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  box-shadow: 0 4px 6px var(--color-shadow);
  cursor: pointer;
}

.downloadButton:hover {
  background-color: var(--color-primary);
  color: #f9f9f9;
}

.changingTexts {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

@media (max-width: 670px) {
  .bannerImage {
    background: url(../../../assets/images/homepage/mobile-banner.webp) center
      no-repeat;
    background-size: cover;
  }
}

@media (max-width: 580px) {
  .primaryText {
    font-size: 25px;
    padding: 6px 15px !important;
  }

  .secondaryText {
    font-size: 25px;
    padding: 6px 15px !important;
  }

  .downloadButton {
    padding: 8px 15px;
    font-size: 15px;
  }
}

@media (max-width: 370px) {
  .primaryText {
    font-size: 22px;
    padding: 6px 15px !important;
  }

  .secondaryText {
    font-size: 22px;
    padding: 6px 15px !important;
  }

  .downloadButton {
    padding: 6px 15px;
    font-size: 15px;
  }
}

/* .bannerContent h4 {
  font-size: 35px;
  line-height: 50px !important;
  color: var(--color-primary);
  font-weight: 600 !important;
}

.bannerContent h4 .flip {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 40px;
  position: relative;
  top: 10px;
  -moz-perspective: 500;
  -webkit-perspective: 500;
  perspective: 500;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bannerContent h4 .flip span {
  font-weight: 600;
  display: block;
  width: auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  position: absolute;
  top: -20px;
  left: 0;
}

.bannerContent h4 .flip span.set {
  top: 0;
  opacity: 1;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.bannerContent h4 .flip span.down {
  top: 40px;
  opacity: 0;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
} 

.bannerContent h1 {
  margin-bottom: 10px !important;
} 

@media (max-width: 1280px) {
  .bannerContent {
    top: 68%;
  }
}

@media (max-width: 767px) {
  .bannerContent {
    top: 62%;
    padding: 0 15px;
  }

  .bannerContent h1 {
    margin-bottom: 10px;
    font-size: 30px !important;
  }

  .bannerContent h4 {
    font-size: 25px !important;
    line-height: 36px !important;
  }
} */

