.main {
  background-color: var(--color-primary);
  position: relative;
  margin-bottom: 60px;
}

.ctaContainer {
  padding: 4.5% 8%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ctaHeading,.ctaContent {
  color: var(--color-secondary);
}

.ctaHeading {
  font-size: 42px;
  font-weight: 600;
}

.ctaContent {
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.chargerButton {
  margin-top: 20px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  font-size: 16px;
  width: fit-content;
  font-weight: 600;
}

.chargerButton:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .ctaHeading {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  .ctaContainer {
    padding: 4.5% 6%;
  }
  .ctaHeading {
    font-size: 28px;
  }
  .ctaContent {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .ctaContainer {
    padding: 6% 4%;
  }
  .ctaContent {
    font-size: 16px;
  }
  .ctaHeading {
    font-size: 25px;
  }
  .chargerButton {
    padding: 10px 12px;
    font-size: 15px;
  }
}